.heading {
  height: 50px;
  nav {
    text-align: center;
    a {
      height: 50px;
      margin-right: 15px;
      text-decoration: none;
      background-color: lightgray;
      border: none;
      font-size: 1.2em;
      line-height: 50px;
      color: black;
      padding: 10px;
    }
  }
}


