.heading {
  nav {
    max-width: 600px;
    margin: 0 auto;
    a {
      text-decoration: none;
      background-color: lightgray;
      border-top: none;
      font-size: 1.2em;
      color: black;
      padding: 0 10px;
      display: inline-block;

      margin-right: 1vw;
      height: calc(100vw / 10 - 3vw);
      line-height: calc(100vw / 10 - 3vw);

      @media (min-width: 600px) {
        margin-right: 7px;
        height: calc(600px / 10 - 15px);
        line-height: calc(600px / 10 - 15px);
      }
    }
  }
}

.children {
  display: inline;
  float: right;

  height: calc(100vw / 10 - 3vw);
  line-height: calc(100vw / 10 - 3vw);

  @media (min-width: 600px) {
    height: calc(600px / 10 - 15px);
    line-height: calc(600px / 10 - 15px);
  }
}
